@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #180f4a;
    --cor2: #ff2978;
    --cor3: #ff2978;
}

body {
    width: 100vw;
    height: auto;
    background: linear-gradient(360deg, var(--cor1), var(--cor2));
}

.toggle {
    position: relative;
}

#btn{
    position: fixed;
    top: 3vh;
    right: 3vw;
    cursor: pointer;
    padding: 9px;
    border-radius: 50%;
    background-color: white;
}

#btn span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all .5s ease;
}

.toggle .open span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4.5px);
}

.toggle .open span:nth-child(2) {
    opacity: 0;
}

.toggle .open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.toggle div #sessao {
    width: 310px;
    height: 250px;
    background-color: rgb(43, 41, 41);
    position: fixed;
    top: 11vh;
    right: 0;
    margin-right: 3vw;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.toggle div #sessao .tema {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.toggle div #sessao .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.toggle div #sessao .buttons button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
}

.toggle div #sessao .buttons button:nth-child(1) {
    background: linear-gradient(360deg, #180F4A, #FF2978);
}

.toggle div #sessao .buttons button:nth-child(2) {
    background: linear-gradient(90deg, #b0c4de, #2f4f4f);
}

.toggle div #sessao .buttons button:nth-child(3) {
    background: linear-gradient(360deg, #bdc3c7, #2c3e50);
}

.toggle .open #sessao {
    display: flex;
}

.menu {
    padding-top: 2vh;
    margin: 1vh .5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu * {
    padding: 10px;
    flex: 1;
}

.menu .img {
    width: 270px;
    height: 270px;
    padding: 0;
    border-radius: 50%;
}

.menu .img img{
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 11px solid white;

}

.menu .texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;;
}
.menu .texts .nome {
    margin: 6vh 4vw;
    font-size: 43px;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 15px black;
    animation: animar 3s ease infinite;
}

@keyframes animar{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

.menu .texts .descricao {
    padding: 0 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    font-family: "Poetsen One", cursive;
    color: rgb(0, 0, 0);
}

main {
    width: 80vw;
    margin: 13vh auto;
    padding: 7vh 3vw 6vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    border-radius: 15px;
    box-shadow: 0 0 22px black;
}

main .plata {
    margin-bottom: 11vh;
}

main .plata h1 {
    font-size: 50px;
    font-family: "Lobster", cursive;
    color: white;
    text-align: center;
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li {
    min-width: 60vw;
    height: 80px;
    background-color: var(--cor3);
    margin: 15px 30px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px black;
}

main ul li a {
    text-decoration: none;
    width: 100%;
}

main ul li a *{
    color: black;
    display: block;
    font-size: 25px;
}

main ul li a i{
    margin-left: 13vw;
    font-size: 28px;
    float: left;
}

main ul li a span{
    font-family: "Poetsen One", cursive;
    margin-right: 13vw;
    float: right;
}

.meu_insta {
    padding: 3vh 3vw;
    width: 100%;
}

.meu_insta .insta {
    text-decoration: none;
}

.meu_insta .insta p {
    text-align: center;
    font-size: 35px;
    color: var(--cor2);
    font-family: "Poetsen One", cursive;

}


@media (max-width: 480px){
    #btn {
        right: 3vw;
        padding: 10px;
    }
    #btn span {
        width: 13px;
        margin: 3px;
    }
    .toggle .open span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4.3px);
    }    
    .toggle .open span:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
    }
    .toggle div #sessao {
        width: 260px;
        height: 160px;
        margin-right: 5vw;
    }
    .menu .texts .descricao {
        overflow-wrap: break-word;
        margin: 0 3vw;
    }
    main {
        width: 92vw;
        margin: 10vh auto 4vh auto;
        border: 4px solid black;
    }
    main ul li {
        width: 80vw;
    }
    main ul li a span{
        font-family: "Poetsen One", cursive;
        margin-right: 7vw;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    #btn {
        right: 5vw;
    }
    .toggle .open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6.5px);
    }

    .toggle .open span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
    }
    .toggle div #sessao {
        width: 260px;
        height: 160px;
        margin-right: 5vw;
        top: 12.5vh;
    }
    .menu .img {
        height: 350px;
        width: 350px;
    }
    .menu .texts .nome {
        font-size: 70px;
    }
    .menu .texts .descricao {
        font-size: 30px;
        overflow-wrap: break-word;
        margin: 0 3vw;
    }
    main {
        width: 92vw;
    }
    main ul li {
        width: 80vw;
    }
    main ul li a span {
        margin-right: 8vw;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #btn {
        right: 5vw;
    }
    .toggle div #sessao {
        width: 260px;
        height: 160px;
        margin-right: 5vw;
        top: 13vh;
    }
    .toggle .open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
    }
    .menu {
        flex-direction: row;
        padding: 0 2vw;
    }
    .menu .img {
        width: 90%;
        height: 90%;
        margin-top: 1vh;
    }
    .menu .texts .nome {
        font-size: 70px;
    }
    .menu .texts .descricao {
        overflow-wrap: break-word;
        margin: 0 3vw;
        font-size: 27px;
    }
    main {
        width: 80vw;
    }
    main ul li {
        width: 65vw;
        transition: all .6s ease;
    }
    main ul li:hover {
        transform: scale(1.1);
    }
}


@media (min-width: 1025px) {
    #btn {
        padding: 12px;
    }
    #btn span {
        width: 21px;
        margin: 6px;
    }
    .toggle .open span:nth-child(1) {
        transform: rotate(45deg) translate(4.5px, 6.5px);
    }    
    .toggle .open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5.5px);
    }
    .toggle div #sessao {
        top: 15vh;
    }
    .menu {
        flex-direction: row;
        padding: 0 2vw;
    }
    .menu .img {
        width: 50%;
        height: 50%;
        margin-top: 1vh;
    }    
    .menu .texts .nome {
        font-size: 70px;
    }
    .menu .texts .descricao {
        margin: 0 3vw;
        font-size: 27px;
    }
    main {
        width: 80vw;
    }
    main .plata h1 {
        font-size: 60px;
    }
    main ul li {
        width: 60vw;
        transition: all .6s ease;
    }
    main ul li:hover {
        transform: scale(1.1);
    }
    main ul li a span{
        font-size: 27px;
    }
}
